<div className="main-containere" id="main-con">
  
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" >iSlot</a>
      </div>
      <ul class="nav navbar-nav">
        </ul>
      </div>
    </nav>
  <div id="slot1" >
      <div class="col-lg-3">
          <h3> 9AM - 10AM</h3>
      </div>
      <div class="col-lg-3">
      <input type="text" class="form-control" id="box">
      </div>
      <div class="col-lg-3" id="toggleid">
          <label class="switch">    
              <input type="checkbox" >
              <span class="slider round"></span>
          </label>
      </div>
      <div class="col-lg-3" id="tit" >
          <label for="totalInterviews"> Total Interviews Taken </label>
          <input type="text" class="form-control" name="totalInterviews" >
      </div>
  </div>
  <br >
  <div id="slot2" >
      <div class="col-lg-3">
      <h3> 10AM - 11AM</h3>
      </div>
      <div class="col-lg-3">
      <input type="text" class="form-control" id="box" >
      </div>
      <div class="col-lg-3" id="toggleid">
          <label class="switch">    
              <input type="checkbox" >
              <span class="slider round"></span>
          </label>
      </div>
      <div class="col-lg-3" id="tit" >
          <label for="totalInterviews"> Total Interviews Taken </label>
          <input type="text" class="form-control" name="totalInterviews" >
      </div>
  </div>
  <br >
  <div id="slot3" >
      <div class="col-lg-3">
          <h3> 11AM - 12PM</h3>
      </div>
      <div class="col-lg-3">
      <input type="text" class="form-control" id="box">
      </div>
      <div class="col-lg-3" id="toggleid">
          <label class="switch">    
              <input type="checkbox" >
              <span class="slider round"></span>
          </label>
      </div>
      <div class="col-lg-3" id="tit" >
          <label for="totalInterviews"> Total Interviews Taken </label>
          <input type="text" class="form-control" name="totalInterviews" >
      </div>
  </div>
  <br >
  <div id="slot4" >
      <div class="col-lg-3">
          <h3> 12PM - 1PM</h3>
      </div>
      <div class="col-lg-3">
      <input type="text" class="form-control" id="box" >
      </div>
      <div class="col-lg-3" id="toggleid">
          <label class="switch">    
              <input type="checkbox" >
              <span class="slider round"></span>
          </label>
      </div>
      <div class="col-lg-3" id="tit" >
          <label for="totalInterviews"> Total Interviews Taken </label>
          <input type="text" class="form-control" name="totalInterviews" >
      </div>
  </div>

  <br >

  <button type="button" class="btn btn-success" id="update">Update</button>

</div>