<h3 class="text-center">Interviewer Registration</h3>
<div class="container">
<form [formGroup]= "id" id="data" >
  
<div class="form-group">
    <label for="name" >Name</label>
    <input type="text"  id="name" formControlName="name" class="form-control">
 <span class="span-for-errors"  *ngIf="id.get('name').touched && id.get('name').errors">Please enter your name</span>
  </div>
  
  <div class="form-group">
      <label for="mail">E-mail</label>
      <input type="text" id="name" formControlName="mail" class="form-control">
      <span class="span-for-errors"  *ngIf="id.get('mail').touched && id.get('mail').errors">Forex: ilakkiyas@virtusa.com </span>
    </div>
    <div class="form-group">
      <label for="mobile" >Mobile no</label>
      <input type="text" id="name" formControlName="mobileno" class="form-control">
      <span class="span-for-errors" *ngIf="id.get('mobileno').touched && id.get('mobileno').errors">Enter Valid Mobile Number</span>
    </div>
<div class="form-group">
    <label for="pswd" >Password</label>
    <input type="password"  id="pswd" formControlName="pwd" class="form-control">
 <span class="span-for-errors"  *ngIf="id.get('pwd').touched && id.get('pwd').errors">Please enter your password</span>
  </div>

    
      <div class="form-group">
          <label for="skill" >Skills</label>
          <select id="skill" formControlName="skill">
      
      <option *ngFor="let skillname of list">{{skillname}}
      </option>
    </select>
   <span class="span-for-errors" *ngIf="id.get('skill').touched && id.get('skill').errors">Please select Skillname</span>
        </div>
        <div id="btn" class="text-center">
          <button type="button" class="btn" (click)="clear()">Clear</button>
          <button type="button" class="btn btn-success" [disabled]="id.invalid" >Register</button>
          </div>
        </form>
          </div>
