
 <h4>Admin Dashboard</h4>

<div class="container">
    <div>iSlot</div>
    <div>Dashboard</div>
    <div>
        <i class="	glyphicon glyphicon-option-vertical">
        </i>
    </div>

</div>
<div>
    <br>
       <div class="recentevents"> 
           <h5 class='recent'> <b> Recent Events</b> </h5>
           <i class='glyphicon glyphicon-plus-sign' id='addicon'></i>
        </div>
         <div ></div>
</div>
<div>
        <br>
           <div class="upcomingevents"> 
               <h5 class='upcoming'> <b>Upcoming Events</b> </h5>
              
            </div>
             <div>  </div>
    </div>


