<nav class="navbar navbar-light bg-light">
    <div class="header">
        <a routerLink="" class="home">iSlot</a>
        <span class="componame">Admin Dashboard</span>
        <span class="glyphicon glyphicon-option-vertical icon"></span>
    </div>
</nav>

<div>
    <br>
    <div>
        <h5>
            <b> Recent Events</b>
        </h5>
        <i class='glyphicon glyphicon-plus-sign' id='addicon'></i>
    </div>
    <br>
    <br>
    <div class="container">
        <div class="row">
            <span *ngFor="let event of recentevents">
                <div class="col col-lg-3 tiles" [style.color]="event.isClosed=='true' ? 'red' : 'black'">
                    <h4>{{event.eventName}}</h4>
                </div>
            </span>
        </div>
    </div>


    <div>
        <h5>
            <b> upcoming events</b>
        </h5>

    </div>
    <div class="container">
        <div class="row">
            <span *ngFor="let event of upcomingevents">
                <div class="col col-lg-3 tiles">
                    <h4>{{event.eventName}}</h4>
                </div>
            </span>
        </div>
    </div>

</div>

