<nav class="navbar navbar-light bg-light">
  <div class="header">
     <a routerLink="" class="home">HD</a>
    <span class="componame">Skill Management</span>
    <span class="glyphicon glyphicon-option-vertical icon"></span>
  </div>
</nav>
<div class="container">
    <input type="text" class="form-control" placeholder="Add a new Skill"> 
    <div class="row">
      <br><br>
      <div class= "col col-lg-3 tiles" *ngFor="let skill of courses">
        <span class="glyphicon glyphicon-trash delete"></span>
        <h4>{{skill}}</h4>
      </div>
    </div>   
    
</div>